<h2>Users and posts count</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.photo, alt: 'user image' %>
      <p><%= link_to user.name, user_path(user.id) %></p>
      <p>Number of posts: <%= user.post_count %></p>
    </li>
  <% end %>
</ul>
