<!-- Displays all the user posts -->
<h1>All user posts</h1>
<div>
    <% if @user.posts.any? %>
        <ul>
        <% @posts.each do |post| %>
            <li>
            
            <strong><%= link_to post.title, user_post_path(@user, post.id) %></strong>
            <%= post.content %>
            </li>
        <% end %>
        </ul>
    <% else %>
        <p>No posts yet</p>
    <% end %>
</div>
