<!-- Displays all the user posts -->
<div>
    <% if @user.posts.any? %>
        <ul>
        <% @posts.each do |post| %>
            <li>
            <strong><%= post.title %></strong>
            <%= post.content %>
            </li>
        <% end %>
        </ul>
    <% else %>
        <p>No posts yet</p>
    <% end %>
</div>
