/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

$gray-color: #e1e5f2;
$dark-blue: #022b3a;
$medium-blue: #1f7a8c;
$baby-blue: #bfdbf7;

.userImg {
width: 100px;
height: 100px;
}

.homeContentBox {
    background-color: $gray-color;
    width: 50%;
    border-radius: 14px;
    padding: 5px;

    a {
        color: $dark-blue;
    }
    
    a:hover {
        color: $medium-blue;
    }

    h4 {
        color: $dark-blue;
    }
 }

 .comment-list {
    background-color: $gray-color;
    margin-left: 2vw;

    * {
        padding: 5px;
    }
    
 }
